<!DOCTYPE html>
<html lang="<%= config.lang %>">
<head>
  <meta charset="UTF-8">
  <title>Internal Page</title>
</head>
<body>
  <%- partial("part/archive_list", {posts: page.posts, attrs: page.current === page.total ? "data-end" : ""}) %>
</body>
</html>